/*
 * Comments are written as C++ style. 
 */
html {
    overflow-y: scroll;
}

body {
    margin: 8px auto;
    background: #fff;
    width: 700px;
}

footer{
    background-color: rgba(120, 120,120, .5);
    line-height: 3;
    text-align: center;
    width: 100%;
}
